.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 5%;
  text-align: center;
  background-color: green;

}

.tabGolf{
  padding: 10px 10px;
  border: 1px solid black;
  background-color: chartreuse;
}

th, td{
  padding: 10px 10px;
  border: 1px solid black;
  background-color: green;
}

.already{
  padding: 10px 10px 10px 10px;
  color: red;
}

.text_header {
  position: relative;
  top: 0;
  height: 10%;
  font-size: 30px;
  font-family: Calibri, serif;
  font-style: italic;
  color: white;
  text-shadow: 2px 2px 2px black;
}

.browse{

}

.add_golf{
  padding: 10px 10px 0px 10px;
}

.text_browse{

}

.logout{
  position: absolute;
  margin-top: 10px;
  margin-right: 5px;
  right: 0;
}

html {
  background: url('../img/test.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.main_container{
  position: absolute;
  top: 100px;
  margin-left: 5%;
  width: 90%;
  background-color: white;
  border: 2px solid black;
}

