*{
  margin: 0;
  padding: 0;
}

header{
  display: flex;
  background: green;
}

.logo{
  display: flex;
}

.logo img{
  width: 50px;
  height: 50px;
  margin: 5px 5px;
}

.logo a{
  margin: auto 5px;
  color: white;
  font-size: 20px;
  font-family: Helvetica, sans-serif;
}

.text_header{
  display: flex;
  position: absolute;
  width: 100%;
  height: 50px;
  justify-content: center;
  margin: 5px 0;
  color: white;
  font-size: 20px;
  font-family: Helvetica, sans-serif;
}

.header_text{
  margin: auto 0;
}

.main_container{
  display: flex;
  justify-content: center;
  width: 70%;
  margin-left: 15%;
  margin-top: 100px;
}

.credentials{
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: forestgreen;
  padding: 10px;
  outline: black solid 2px;
}

.log_button{
  display: flex;
  width: 100%;
  margin: 10px 5px;
  justify-content: center;
}

.log_button button{
  width: 100px;
  font-size: 15px;
  border-radius: 5px;
  font-family: Helvetica, sans-serif;
}

.user_container{
  font-size: 15px;
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
  color: white;
  font-family: Helvetica, sans-serif;
}

.label_cred{
  margin: 0 5px;
  flex-grow: 1;
  text-align: center;
}

.password_container{
  font-size: 15px;
  color: white;
  display: flex;
  margin: 10px 0;
  font-family: Helvetica, sans-serif;
}

.inputs{
  width: 150px;
}

.register{
  font-size: 15px;
  display: flex;
  color: white;
  justify-content: center;
  font-family: Helvetica, sans-serif;
}

.register b{
  margin: 0 5px;
}

#background_video{
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  opacity: 70%;
  z-index: -50;
}
